#grid-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 960px;
    justify-content: center;
    align-items: center;
}

.y {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 960px;
    justify-content: center;
    align-items: center;
}

.x {
    border: 2px solid black;
    min-width: 16px;
    min-height: 16px;
}