body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    display: grid;
    margin: 0;
    padding: 0;
    gap: 0px;
    width: 900px;
    height: 900px;
}

.y {
    display: flex;
    margin: 0;
    padding: 0;
}

.x {
    border: 2px solid black;
    min-width: 8px;
    min-height: 8px;
    margin: 0;
    padding: 0;
    flex: 1;
}